
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Incluir Pessoa</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="formPessoa" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <div class="input-group">
          <input id="nome" class="form-control" name="dp" ngbDatepicker #dp="ngbDatepicker" formControlName="nome" required>
        </div>
      </div>

      <div class="form-group">
          <label for="documento">Documento</label>
          <div class="input-group">
            <input id="documento" class="form-control" name="dp" ngbDatepicker #dp="ngbDatepicker" formControlName="documento" required>
          </div>
        </div>

        <div class="form-group">
          <label for="telefone">Telefone</label>
          <div class="input-group">
            <input id="telefone" class="form-control" name="dp" ngbDatepicker #dp="ngbDatepicker" formControlName="telefone" required>
          </div>
        </div>
    <button type="submit" class="btn btn-primary" (click)="submitForm(); modal.close();">Salvar</button>
    </form>

  </div>
 
</ng-template>

<button class="btn btn-lg btn-primary" (click)="open(content)">Incluir Pessoa</button>

<hr>